

.about-container{
  border: solid red;

}

.about-hero-container{
  border: solid blue;
  background-image: url('../images/landscape-team-photo.jpeg');
  background-size: cover;
  background-position: center;
  width: 96vw;
  height: 30vh;
}

.about-section-container-shadow{
  filter: drop-shadow(1px 1px 7px rgba(116, 76, 23, 0.25));
}

.about-section-container{
  border: solid orange;
  background-color: var(--white);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);


}

.about-section-h3{

}

.about-section-p{

}


/* ------------------- TEAM CSS ---------------- */



.about-team-container{
  border: solid purple;

}

.about-team-h3{
  
}

.about-team-image{

}

.about-team-name{

}

.about-team-p{

}


/* ------------------- TESTIMONIALS CSS ---------------- */


.about-testimonials-container{
  border: solid yellow;


}

.about-testimonials-h3{

}

.about-testimonials-content-container{

}