

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root
{
  --black: #232323;
  --white: #f2f2f2;
  --green: rgb(148, 192, 148);
  --purple: rgb(77, 64, 113);
  --lightgreen: rgb(165, 197, 153);
  --transition: all 0.3s ease-in-out;
}

.appContainer {
  padding-top: 150px;
}

@media all and (min-width: 600px){

  /* .appContainer{
    border: dotted greenyellow;
  } */

}