@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* --black: #4d4d4d;
--white: #f2f2f2;
--gray: #b7c2b2;
--gray-highlight: #7d8e76;
--blue: rgba(25, 86, 133);
        rgb(43, 94, 133);
--blue-highlight: rgb(17, 65, 101);
--green: rgb(148, 192, 148);
--yellow: rgba(253, 249, 228, 0.895);
--purple: rgb(77, 64, 113);
--brown: rgb(43, 37, 37);
--brown-highlight: rgb(39, 35, 34) ;
--lightgreen: rgb(165, 197, 153);
--lightgreen-highlight: rgb(206, 228, 144); 
--transition: all 0.5s ease-in-out; */

:root
{
  --black: #4d4d4d;
  --white: #e7e7e7;
  --gray: #afaca8;
  --gray-highlight: #7d8e76;
  --blue: rgb(33, 94, 133);
  --blue-highlight: rgb(17, 65, 101);
  --green: rgb(120, 182, 120);
  --yellow: rgba(253, 249, 228, 0.895);
  --purple: rgb(77, 64, 113);
  --brown: rgb(43, 37, 37);
  --dark-brown: rgb(20, 18, 18);
  --brown-highlight: rgb(39, 35, 34) ;
  --lightgreen: rgb(165, 197, 153);
  --lightgreen-highlight: rgb(206, 228, 144); 
  --transition: all 0.5s ease-in-out;
}

.appContainer {
  padding-top: 150px;
}

body{
  background-image: linear-gradient(140deg, var(--blue), white);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;

}
