
/* --------- Yard Gallery Image Imports ------------- */
#backyard-gallery-item-1{
  background-image: url(../images/Backyard1.jpeg);
}

#backyard-gallery-item-2{
  background-image: url(../images/Backyard2.jpeg);
}

#backyard-gallery-item-3{
  background-image: url(../images/Backyard3.jpeg);
}

#backyard-gallery-item-4{
  background-image: url(../images/Backyard4.jpeg);
}

#backyard-gallery-item-5{
  background-image: url(../images/Backyard5.jpeg);
}

#backyard-gallery-item-6{
  background-image: url(../images/Backyard6.jpeg);
}

#backyard-gallery-item-7{
  background-image: url(../images/Backyard7.jpeg);
}

#backyard-gallery-item-8{
  background-image: url(../images/Backyard8.jpeg);
}

#backyard-gallery-item-9{
  background-image: url(../images/Backyard9.jpeg);
}

#backyard-gallery-item-10{
  background-image: url(../images/Backyard10.jpeg);
}

#backyard-gallery-item-11{
  background-image: url(../images/Backyard11.jpeg);
}

#backyard-gallery-item-12{
  background-image: url(../images/Backyard12.jpeg);
}



.backyard-gallery-container{
  background-color: var(--white);
}

.backyard-gallery-container h3{
  text-align: center;
  margin: 0;
  padding: 20px 0 20px 0;
  color: var(--black);
  font-family: 'Lato', sans-serif;
  font-size: 24px; 
}

/* the padding of 1 is to align the background color with the container or there is a gap under images */
.backyard-gallery-item-container{
  padding: 0 0 60px 0;
}

.backyard-gallery-item{
  width: 90vw;
  height: 30vh;
  margin: 20px auto;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 4px var(--black);
}



@media all and (min-width: 600px) and (max-width: 699px) {
  
  .backyard-gallery-container h3{
    font-size: 30px; 
  }
  
}

@media all and (min-width: 700px) and (max-width: 929px) {

  .backyard-gallery-item{
    width: 300px;
    height: 200px;
    margin: 10px auto;
  }

  .backyard-gallery-item-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 680px;
    margin: 0 auto;

  }

  .backyard-gallery-container h3{
    font-size: 30px; 
  }

}

@media all and (min-width: 930px) and (max-width: 1099px) {

  .backyard-gallery-item{
    width: 300px;
    height: 200px;
    margin: 10px auto;
  }

  .backyard-gallery-item-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 680px;
    margin: 0 auto;

  }

  .backyard-gallery-container h3{
    font-size: 30px; 
  }

  .backyard-gallery-container{
    transform: translateY(-12px);
  }

}


@media all and (min-width: 1100px){

  .backyard-gallery-item{
    width: 300px;
    height: 200px;
    margin: 10px 20px;
  }
  
  .backyard-gallery-item-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1000px;
    margin: 0 auto;
    padding-right: 20px;
  }
  
  .backyard-gallery-container h3{
    font-size: 36px; 
    padding: 0 0 20px 0;
  }


.backyard-gallery-container{
  transform: translateY(-5px); 
}

  
  
}