

.slider-container{
  border: solid #800080;
  width: 500px;
  margin: 0 auto;
}


#slider{
  /* border: solid white; */
  appearance:none;
  position: relative;
  background-color: rgba(255,255,255,0.1);
  width: 99%; 
  z-index: 3;
}


.sliderImage{
  /* border: solid black; */
  /* background-image: url('../images/13-142-151-pool.jpeg'); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  position: relative;
  z-index: 2;
}

.sliderImageAfter{
  /* border: solid gold; */
  /* background-image: url('../images/13-142-209-walls.jpeg'); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%; 
  height: 50vh;
  position: relative;
  z-index: 1;
  
}