

.map{
  border:0;
  width:300px;
  height:350px;
}

.map-container{
  /* border: solid green; */
  display: flex;
  flex-direction: column;
}


.map-container-title{
  color: var(--black);
  margin: 0;
  font-size: 20px;
  text-align: center;
 }

.map-container-address{
 color: var(--black);
 margin: 0;
 text-align: center;
 
}


.map-container-phone{
  text-decoration: none;
  color: var(--black);
  font-size: 22px;
  transition: var(--transition);
  margin: 10px 0;
  text-align: center;
 }
 
 .map-container-email{
   text-decoration: none;
   color: var(--black);
   font-size: 22px;
   transition: var(--transition);
   margin: 0 0 10px 0;
   text-align: center;
  }
 

.map-container-phone:hover{
 color: var(--blue-highlight);
}

.map-container-email:hover{
  color: var(--blue);
 }


.contact-flex{
  /* border: solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-section{
  /* border: solid red; */
  width: 300px;
  margin: 0 auto;
}

.contact-section h2{
  color: var(--black);
  text-align: center;
  font-size: 24px; 
  font-family: 'Lato', sans-serif;
}

.contact-h3{
  color: var(--black);
  font-size: 24px; 
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.contact-message{
  resize: none;
  padding: 12px 20px;
  font-size: 18px;
  margin: 10px auto;
}

.contact-section input{
  width: 85%;
  padding: 18px 20px;
  font-size: 18px;
  margin: 10px auto;


}