.footerContainer{
  border: solid blue;
  background-image: linear-gradient( 90deg, rgb(89, 67, 30, 0.98), rgba(139, 109, 67, 0.98));
  height: 150px;
}








@media all and (min-width: 600px){

  .footerContainer{
    border: dotted blue;
  }

}