.header {
  position: fixed;
  top: 0;
  height: 150px;
  width: 100%;
  background-color: #fff;
}

.header-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
}

.header img {
  object-fit: contain;
  height: 100px;
}

.hamburger{
  cursor: pointer;
}

.hamburger span{
  display: block;
  width: 50px;
  height: 2px;
  background-color: #232323;
  margin-bottom: 5px;
}

.header .menu {
  position: absolute;
  top: 150px;
  height: 0px;
  overflow-y: hidden;
  background-color: rgba(35,35,35,0.2);
  width: 100%;
  transition-property: height;
  transition-duration: 0.5s;
  transition-timing-function: linear;

  display: flex;
  flex-direction: column;
}

.nav-item {
  padding: 10px 5px;
  background-color: #fff;
  border: 1px solid #232323;
  opacity: 1;
}

.header .menu.active {
  height: 100vh;
}