


.services-container{
background-image: linear-gradient( var(--brown-highlight),  var(--brown) );
padding-bottom: 20px;
} 

.services-container h3{
 color: var(--white);
 text-align: center;
 margin: 0 0 20px 0;
 padding-top: 20px;
 font-size: 24px;
 font-family: 'Lato', sans-serif;
 }

.services-content h3{
 margin: 0;
 color: var(--black);
 padding-bottom: 10px;
}

.services-content p{
  margin: 0;
 }

.services-content{
  background-color: var(--white);
  text-align: center;
  margin: 10px auto;
  padding: 20px 10px 30px 10px;
  filter: drop-shadow(1px 1px 7px rgba(116, 76, 23, 0.25));
  width: 280px;
}


@media all and (min-width: 800px) {

  .services-content-flex{
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }

}