
/* --------- Stone Gallery Image Imports ------------- */
#stone-gallery-item-1{
  background-image: url(../images/StoneWalls1.jpeg);
}

#stone-gallery-item-2{
  background-image: url(../images/StoneWalls2.jpeg);
}

#stone-gallery-item-3{
  background-image: url(../images/StoneWalls3.jpeg);
}

#stone-gallery-item-4{
  background-image: url(../images/StoneWalls4.jpeg);
}

#stone-gallery-item-5{
  background-image: url(../images/StoneWalls5.jpeg);
}

#stone-gallery-item-6{
  background-image: url(../images/StoneWalls6.jpeg);
}

#stone-gallery-item-7{
  background-image: url(../images/StoneWalls7.jpeg);
}

#stone-gallery-item-8{
  background-image: url(../images/StoneWalls8.jpeg);
}

#stone-gallery-item-9{
  background-image: url(../images/StoneWalls9.jpeg);
}

#stone-gallery-item-10{
  background-image: url(../images/StoneWalls10.jpeg);
}

#stone-gallery-item-11{
  background-image: url(../images/StoneWalls11.jpeg);
}

#stone-gallery-item-12{
  background-image: url(../images/StoneWalls12.jpeg);
}


.stone-gallery-container{
  background-color: var(--white);
}

.stone-gallery-container h3{
  text-align: center;
  margin: 0;
  padding: 20px 0 20px 0;
  color: var(--black);
  font-family: 'Lato', sans-serif;
  font-size: 24px; 
}

/* the padding of 1 is to align the background color with the container or there is a gap under images */
.stone-gallery-item-container{
  padding: 1px;
}

.stone-gallery-item{
  width: 90vw;
  height: 30vh;
  margin: 20px auto;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 4px var(--black);
}


@media all and (min-width: 600px) and (max-width: 699px) {
  
  .stone-gallery-container h3{
    font-size: 30px; 
  }
  
}

@media all and (min-width: 700px) and (max-width: 929px) {

  .stone-gallery-item{
    width: 300px;
    height: 200px;
    margin: 10px auto;
  }

  .stone-gallery-item-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 680px;
    margin: 0 auto;

  }

  .stone-gallery-container h3{
    font-size: 30px; 
  }

}

@media all and (min-width: 930px) and (max-width: 1099px) {

  .stone-gallery-item{
    width: 300px;
    height: 200px;
    margin: 10px auto;
  }

  .stone-gallery-item-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 680px;
    margin: 0 auto;

  }

  .stone-gallery-container h3{
    font-size: 30px; 
  }

  .stone-gallery-container{
    transform: translateY(-12px);
  }

}


@media all and (min-width: 1100px){

  .stone-gallery-item{
    width: 300px;
    height: 200px;
    margin: 10px 20px;
  }
  
  .stone-gallery-item-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1000px;
    margin: 0 auto;
  
  }
  
  .stone-gallery-container h3{
    font-size: 36px; 
  }


.stone-gallery-container{
  transform: translateY(-5px); 
}

  
  
}